<div class="container">
  <input type="checkbox" id="read" name="read" value="read" [(ngModel)]="read">
  <label for="read">Read</label>
  <input type="checkbox" id="write" name="write" value="write" [(ngModel)]="write">
  <label for="write">Write</label><br>
  <br />
  <input type="radio" id="be" name="cc" value="BE" [(ngModel)]="columnCode">
  <label for="male">BE</label><br>
  <input type="radio" id="bb" name="cc" value="BB" [(ngModel)]="columnCode">
  <label for="female">BB</label><br>
  <br />
  <label>Prefix</label>
  <input [(ngModel)]="prefix"/>
  <br />
  <br />
  <label>Element Code</label>
  <input [(ngModel)]="elementCode"/>
  <br />
  <br />
  <br />
  <label>Use DateTime</label>
  <input type="checkbox" [(ngModel)]="useDateTime" />
  <input *ngIf="useDateTime" [(ngModel)]="displayFormat"/>
  <br /><br />
  <div id="result">{{getOutputString()}}</div>
  <button (click)="copyMessage()">Copy</button>
</div>